<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.BoardMapper">

<!--  1. namespace 속성값 = mapper인터페이스와 동일한 이름 -->
<!-- 	MyBatis는 Mapper 인터페이스와 XML을 인터페이스의 이름과 namespace의 속성값으로 판단-->
	
<!--  2. id 속성 값은 Mapper인터페이스 메서드의 이름과 동일해야함 -->
<!-- 	select 태그의 경우 resultType 속성을가지는데, 이 값은 인터페이스에 선언된 메서드의 리턴타입과 동일해야함 -->
<!-- 	resultType속성 값은 select 쿼리의 결과를 특정 클래스의 객체로 만들기위해 설정 -->

	<!-- 게시물 리스트 -->
	<!-- CDATA은 xml 에서 부등호( > )를 사용하기 위해서 사용 -->
	<select id="getList" resultType="org.zerock.domain.BoardVO">
		<![CDATA[
		select * from tbl_board where bno > 0 
		]]>
	</select>
	
	<!--  게시물 리스트(페이징)  -->
	<!-- CDATA은 xml 에서 특수문자를 사용하기 위해서 사용 -->
	<!-- sql문 힌트 (/*aaa*/)와 rownum(sql결과 넘버링) 을 인라인 뷰(다중select)로 처리 -->	
	<!-- rownum 값은 1 이상의 값이어야 동작한다 -->
	<select id="getListWithPaging" resultType="org.zerock.domain.BoardVO">
		<![CDATA[
		select bno, title, content, writer, regdate, updatedate 
			from (
				select /*+INDEX_DESC(tbl_board pk_board) */ 
					rownum rn, bno, title, content, writer, regdate, updatedate
				from
					tbl_board
				where rownum <= 20
				 )
			where rn > 10	 
		]]>
	</select>
	
	<!-- 게시물 등록 -->
	<!-- insert만 처리되고 생성된PK (bno) 값을 알 필요가 없는경우 -->
	<insert id="insert">
		insert into tbl_board (bno,title,content,writer)
		values (seq_board.nextval, #{title}, #{content}, #{writer})
	</insert>
	
	<!-- insert문이 실행되고 생성된PK 값을 알야야 하는 경우 -->
	<!-- selectKey 라는 mybatis 어노테이션을 이용해서 pk값을 미리(before) 특정한이름으로 보관  -->
	<insert id="insertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE" resultType="long">
			select seq_board.nextval from dual		
		</selectKey>
	
			insert into tbl_board (bno,title,content,writer)
			values (#{bno},#{title},#{content},#{writer})
	</insert>
	
	<!-- 게시글 조회 -->
	<select id="read" resultType="org.zerock.domain.BoardVO">
		select * from tbl_board where bno= #{bno}
	</select>
	
	<!-- 게시글 삭제 -->
	<delete id="delete">
		delete from tbl_board where bno = #{bno}
	</delete>
	
	<!-- 게시글 수정 -->
	<!-- 수정시간을 현재시간으로,  -->
	<update id="update">
		update tbl_board
			set title = #{title},
			content = #{content},
			writer = #{writer},
			updateDate = sysdate
		where bno = #{bno}
	</update>
</mapper>